@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
/* COMMON STYLES */
body {
    background:
    linear-gradient(to right, #5bccf6, #fcde67);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center;
}

h1 {
    font-family: 'Roboto', sans-serif;
    font-size: 50px;
    text-align: center;
}
span {
    font-family: 'Roboto', sans-serif;
    text-align: center;
}

button {
    margin: 5px;
}

/* SELECTION PAGE / EXCLUSIVE TO INDEX.HTML*/
#homePage {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    flex-wrap: wrap;
}

#selectorImageContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 8%;
    padding: 2%;
    
}

#foxSelectorImage, #pandaSelectorImage, #bearSelectorImage {
    width: 20%;
    position: relative;
    top: -30px;
}

#foxSelectorImage:hover, #pandaSelectorImage:hover, #bearSelectorImage:hover {
    transform: scale(1.5);
    cursor: pointer;
    transition: transform 500ms;
}


/* MAIN GAME PAGE / EXCLUSIVE TO GAME.HTML*/ 
#gamePage {
    display: none;
}

#petName {
    font-size: 40px;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
    position: relative;
    top: 10px;
}

#mainPetFlexWrapper {
    margin: 20px, 0px;
    display: flex;
    align-content: space-around;
    flex-direction: column;
    text-align: center;
}

#mainPetImage {
    width: 250px;
    height: 250px;
    background-size: contain;
    margin-left: 33%;
    margin-right: 33%;
    align-self: center;
}

#functionalityButtons {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

#feedButton, #playButton, #drinkButton {
    width: 70px;
    height: 30px;
    border: blue solid 1px;
    background-color: white;
    border-radius: 30%;
}

#feedButton:hover, #playButton:hover, #drinkButton:hover {
    background-color: rgba(255, 255, 255, 0.717);
    border: blue solid 2px;
}

#statusFlexWrapper {
    background-color: gray;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-self: center;
    padding: 10px;
    border: solid rgb(28, 51, 184) 3px;
    border-radius: 15px;
    width: 250px;
    max-width: 400px;
}

.state{
    font-style: normal;
}

#statusFlexWrapper p {
    width: 100px;
    box-sizing: border-box;
    position: relative;
    right: 15px;
    text-align: end;
    color: whitesmoke;
    font-family: 'Roboto', sans-serif;
}

.statusContainer {
    background-color: whitesmoke;
    width: 60%;
    height: 26px;
    box-sizing: border-box;
    border: rgb(28,51,184) solid 2px;
    border-radius: 5%;
}

.stylise {
    font-style: italic;
}

/* nb. to change bar graphic, in the js simple, change style.width to 'x'% for each id detailed below, as required */ 
#fedBar, #entertainedBar, #quenchedBar {
    width: 0%;
    max-width: 100%;
    height: 20px;
    margin-top: 1px;
    background-color: rgb(28, 51, 184);
}

#restartGameButton {
    font-size: 10px;
    font-weight: 900;
    color: white;
    background-color: rgba(255, 0, 0, 0.871);
    width: 100px;
    margin-left: 33%;
    margin-right: 33%;
    min-width: 33%;
    border: rgb(28,51,184) solid 2px;
}